.assign-1-shape-1{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: blueviolet;
}
.assign-1-shape-2{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color:#8a2be28f;
}
.assign-1-shape-3{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: rgb(138 43 226/10%);
}