.d1{
    border: red solid 50px;
    width:fit-content;
}

.d2{
    border: red solid 50px;
    width:fit-content;
}

.d3{
    border: red solid 50px;
    width:fit-content;
}

.d4{
    border: red solid 50px;
    width:fit-content;
     overflow: hidden;
}



