.d1{
    font-family: "open sans",sans-serif;
    font-weight: 300px;
    font-style: italic;
}
.d2{
    font-family: "cairo",sans-serif;
    font-weight: 700px;

}
.d3{
    font-family: "Jomhuria", serif;
    font-weight: 400;
}